<% layout("/layouts/boilerplate") %>


    <div class="error">
        <div class="error-info">
            <b>Error Code : <span class="error-code"><%= statusCode %></span></b>
            <b class="error-msg"><%= message %></b>
        </div>
        <div class="error-img">
            <img src="https://a0.muscache.com/airbnb/static/error_pages/404-Airbnb_final-d652ff855b1335dd3eedc3baa8dc8b69.gif" alt="Error Image">
        </div>
    </div>
