<% layout("/layouts/boilerplate") %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h2>Create a Listing</h2>
    <form method="POST" action="/listings">
        <input type="text" name="listing[title]" placeholder="enter title"> <br><br>
        <textarea name="listing[description]" id="description" placeholder="write description here"></textarea> <br><br>
        <input type="text" name="listing[image]" placeholder="enter image URL/Link"> <br><br>
        <input type="number" name="listing[price]" placeholder="enter price"> <br><br>
        <input type="text" name="listing[location]" placeholder="enter location"> <br><br>
        <input type="text" name="listing[country]" placeholder="enter country"> <br><br>
        <button type="submit">ADD</button>
    </form>
</body>
