
body{
    font-family: "Plus Jakarta Sans", sans-serif;
}

/* NAVBAR */
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: black !important;
}

/* FOOTER */
.f-info-links a{
    text-decoration: none;
    color: black;
    margin-right: 1.4rem;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1.4rem;
}

.f-info{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
    flex-wrap: wrap;
    text-align: center;
    height: 6rem;
}

/* CARDS */
.card{
    border: none;
    margin-bottom: 1rem;
}

.card img{
    border-radius: 0.6rem;
    height: 16rem;
}

.card-text p{
    font-weight: 400 !important;
}

.card-body{
    padding: 0px;
}

.card:hover{
    opacity: 0.88;
}

.listing-link{
    text-decoration: none;
}