<% layout("/layouts/boilerplate") %>

<div class="signup-container">
    <div class="signup-box">
        <h4 class="signup-title">Sign Up</h4>
        <form action="/signup" method="POST" novalidate class="needs-validation signup-form">

            <div class="form-group">
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" required name="username" placeholder="Enter username"
                    class="form-control">
            </div>

            <div class="form-group">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" required name="email" placeholder="Enter email" class="form-control">
            </div>

            <div class="form-group">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" required name="password" placeholder="Enter password"
                    class="form-control">
            </div>

            <button type="submit" class="signup-btn">Sign Up</button>

        </form>
    </div>
</div>
